.footer-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-link:hover {
  color: #ffc107;
}

.social-icon {
  font-size: 1.5rem;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.social-icon:hover {
  color: #ffc107;
}
